/* GENERAL STYLES */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600&display=swap');

/* LIGHT MODE */
:root {
    --white: #fff;
    --light: #e8e8e8;
    --lightgray: rgb(198, 198, 198);
    --orange: #ca6c00;
    --darkgray: #7a7a7a;
    --darkblue: #0a192f;
    --dark: #0f213b;
    --olddark: #1a1a1a;
    --black: #000;

    --white2black: var(--white);
    --black2white: var(--black);
    --light2dark: var(--light);
    --dark2light: var(--dark);
    --white2orange: var(--white);
    --black2orange: var(--black);
    --darkgray2lightgray: var(--darkgray);
    --btncolor1: #bbc9dc;
}

/* DARK MODE */
[theme="dark"] {

    --white2black: var(--black);
    --black2white: var(--white);
    --light2dark: var(--dark);
    --dark2light: var(--light);
    --white2orange: var(--orange);
    --black2orange: var(--orange);
    --darkgray2lightgray: var(--lightgray);
    --btncolor1: #1d3961;
}



* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Exo 2', sans-serif;
    background-color: var(--light2dark);
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--darkgray2lightgray);
    cursor: default;
}

/* TRANSITION */
a, btn {
    transition: all 300ms ease;
}


/* DESKTOP NAV */
nav, 
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

#desktop-nav,
#hamburger-nav {
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 20px 0px var(--black2white);
    background-color: var(--dark2light);
    color: var(--black2white);
    z-index: 100;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: var(--white2black);
    text-decoration: none;
}



.hamburger-icon a:hover {
    color: var(--orange);
}

a:hover {
    color: var(--orange);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181.181,181);
    transition-duration: 1000ms;
}

.logo {
    font-size: 2rem;
    color: var(--white2black);
}

.logo:hover {
    cursor: pointer;
    scale: 110%;
    transition: 1000ms ease-in-out;
    color: var(--orange);
}

/* HAMBURGER MENU */
#hamburger-nav {
    display: none; 
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;

}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--light2dark);
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: var(--dark2light);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    /* color: var(--orange); */
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
    right: -5rem;
}

.menu-links.open {
    max-height: 300px;
    /* border: var(--orange) 2px outset; */
    border-radius: 1rem;
    margin-top: 1rem;
    right: -2.75rem;
}

.menu-links.open a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
    transition: 750ms;
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
    transition: 500ms;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
    transition: 750ms;
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}


/* ICONS */
.icon {
    cursor: pointer;
    height: 2rem;
    background: var(--light2dark);
    border-radius: 5px;
    background: none;
}

#about .icon {
    cursor: default;
}

nav .icon {
    background: none;
}

nav .icon:hover {
    /* background: var(--dark2light); */
    box-shadow: 0 2px 8px 0 var(--black2white);
}

.icon:hover {
    scale: 120%;
    transition-duration: 500ms;
    box-shadow: 0 2px 8px 0 var(--black2white);
}

/* BUTTONS */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 1.5rem;
}

.btn-color1 {
    background: var(--btncolor1);
    color: var(--black2white);
}


.btn-color2 {
    background: var(--light2dark);
    color: var(--black2white);
}

.btn-color1:hover {
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white2black);
    border: none;
    scale: 105%;
    transition: 800ms;
    box-shadow: 0 2px 8px 0 var(--black2white);
}

.btn-color2:hover {
    cursor: pointer;
    background-color: var(--black2white);
    color: var(--white2black);
    border: none;
    scale: 105%;
    transition: 800ms;
    box-shadow: 0 2px 8px 0 var(--black2white);
}


/* SECTIONS */
section {
    height: 90vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */
#profile {
    position: relative;
    display: flex;
    padding-top: 10vh;
    justify-content: center;
    gap: 5rem;
}

.section-pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

#profile .icon:hover {
    box-shadow: 0 5px 20px 0 var(--orange);
}

#profile .profile-pic {
    border-radius: 50%;
    box-shadow: 0 5px 20px 0 var(--black2white);
}

.section-text {
    align-self: center;
    text-align: center;
    
}

.section-text p {
    font-weight: 600;
}

.section-text-p1 {
    text-align: center;
}

.section-text-p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
    color: var(--black2white);
    cursor: default;
}

.logo .icon {
    scale: 115%;
    /* border: 1px var(--black2white) ridge; */
    margin-right: 2rem;
    justify-content: center;
    border-radius: 1px;
}

.logo .icon:hover {
    scale: 125%;
    border: 1px var(--white2black) ridge;
    margin-right: 2rem;
    justify-content: center;
    border-radius: 50%;
    rotate: 720deg;
    transition: 2s;
}

#social-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}


/* ABOUT SECTION */
#about {
    position: relative;
    padding-top: 10rem;
}

.about-container {
    gap: 2rem;
    margin-bottom: 2rem;

}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

#about .details-container:hover {
    transition: 800ms;
    box-shadow: 0 5px 20px 0 var(--black2white);
}

.about-container,
.about-details-container {
    display: flex;
    justify-content: center;
}

#about .profile-pic {
    border-radius: 2rem;
    box-shadow: 0 5px 20px 0 var(--black2white);
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.uparrow {
    position: absolute;
    right: -5rem;
    top: 9rem;
}

.details-container {
    padding: 1.5rem;
    flex: wrap;
    background: var(--light2dark);
    border-radius: 2rem;
    text-align: center;
    justify-content: center;
    color: var(--white2black);

}

.section-container {
    gap: 4rem;
    height: 80%
    
}

.section-pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* SKILLS SECTION */
#skills {
    position: relative;
    padding-top: 10rem;
}

#skills .details-container:hover {
    transition: 800ms;
    box-shadow: 0 5px 20px 0 var(--black2white);
}

h3 {
    color: var(--black2white);
}

.skills-sub-title {
    color: var(--darkgray2lightgray);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
    cursor: default;
}

.skills-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    
}

.article-container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* PROJECTS SECTION  */
#projects {
    position: relative;
    padding-top: 10vh;
}

#projects .details-container {
    background-color: var(--light2dark);
}

#projects .details-container:hover {
    scale: 103%;
    transition: 800ms;
    box-shadow: 0 5px 20px 0 var(--black2white);
}

#projects .details-container h2 {
    color: var(--black2white);
}

#projects .about-container {
    scale: 70%
}

#projects .section-text-p1 {
    margin-top: 2rem; 
}

.projects-container {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.color-container {
    /* border: var(--b) 1px ridge; */
    background: var(--container-color);
}

.project-img {
    border-radius: 2rem;
    width: 300px;
    height: 300px;
}

.project-title {
    margin: 1rem;
}

.project-btn {
    color: var(--black);
    border: var(--black2white);
}

/* CONTACT SECTION */
#contact {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    margin: 2rem auto;
    padding: 0.5rem;
    box-shadow: 0 2px 8px 0 var(--black2white);
}

.contact-info-upper-container a{
    color: var(--black2white);
}

.contact-info-upper-container a:hover{
    color: var(--orange);
}

.contact-info-upper-container:hover {
    background: var(--light2dark);
    border: none;
    box-shadow: 0 2px 8px 0 var(--black2white);
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {  
    font-size: larger;
}

.contact-icon {
    cursor: default;
    height: 2rem;
}

/* FOOTER SECTION */
footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}

footer a {
    color: var(--black2white);
}

footer a:hover {
    color: var(--orange)
}